body {
  font-family: arial;
  font-size: 18px;
  text-align: center;
}

li {
  line-height: 2em;
  list-style: none;
  text-align: left;
}

.header {
  background: #f4f4f4;
  border-bottom: #ccc 3px solid;
  padding: 20px;
}

.container {
  margin: 30px auto;
  width: 700px;
}
